$color-main: #00e676;
$color-btn: #827717;
$color-bkg-active: #1b5e20;
$color-bkg-button: #e6ee9c;
$color-bkg-main: #8b8b90;

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: $color-bkg-main;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper-main {
  width: 97%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls-container {
  display: flex;
}

.lang-container {
  margin-left: 20px;
  display: flex;
}

.search-container {
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.btn {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  color: $color-btn;
  font-size: 22px;
  font-weight: bold;
  border: 0;
  outline: 0;
  border-radius: 50%;
  background-color: $color-bkg-button;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
}

.btn.active,
.btn.active:hover {
  color: $color-bkg-button;
  background-color: $color-bkg-active;
  opacity: 1;
}

input[type="text"] {
  width: 280px;
  height: 46px;
  padding-left: 15px;
  border-radius: 22px 0 0 22px;
  font-size: 32px;
  border: 0;
  outline: 0;
}

.search-btn {
  margin-left: 0;
  border-radius: 0 50% 50% 0;
}

.city {
  width: 50%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-end; 
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-main;
}

.date-time {
  width: 50%;
  height: 6%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  color: $color-main;
}

.main {
  width: 100%;
  display: flex;
  color: $color-main;
}

.main-weather {
  width: 50%;
}

.map {
  width: 50%;
  margin: 25px;
}

.today-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6%;
}

.today-container-left {
  width: 50%;
}

.today-container-right {
  width: 50%;
}

.today-temp {
  font-size: 278px;
  text-align: center;
}

.today-summary {
  font-size: 36px;
  line-height: 48px;
}

.today-icon {
  width: 144px;
}

.next-container {
  display: flex;
}

.next-block {
  width: 100%;  
}

.next-day {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
}

.next-info {
  display: flex;
}

.next-temp {
  font-size: 72px;
}

.next-icon {
  width: 72px;
}

.map-body {
  width: 80%;
  height: 70%;
}
 .marker {
   height: 40px;
   width: 40px;
   background: url('../assets/images/marker-40.png');
 }