$color-main: #00e676;
$color-btn: #827717;
$color-bkg-active: #1b5e20;
$color-bkg-button: #e6ee9c;
$color-bkg-main: #8b8b90;

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: $color-bkg-main;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper-main {
  width: 97%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 900px) {
    flex-direction: column-reverse;
    height: 135px;
  }
  @media (max-width: 650px) {
    height: 120px;
  }
}

.controls-container {
  display: flex;
  @media (max-width: 900px) {
    width: 100%;
    justify-content: inherit;
  }
}

.lang-container {
  margin-left: 20px;
  display: flex;
  @media (max-width: 900px) {
    margin: 0;
  }
}

.search-container {
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.btn {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  color: $color-btn;
  font-size: 22px;
  font-weight: bold;
  border: 0;
  outline: 0;
  border-radius: 50%;
  background-color: $color-bkg-button;
  cursor: pointer;
  @media (max-width: 650px) {
    width: 36px;
    height: 36px;
    font-size: 18px;
  }
}

.btn:hover {
  opacity: 0.7;
}

.btn.active,
.btn.active:hover {
  color: $color-bkg-button;
  background-color: $color-bkg-active;
  opacity: 1;
}

input[type="text"] {
  width: 280px;
  height: 46px;
  padding-left: 15px;
  border-radius: 22px 0 0 22px;
  font-size: 32px;
  border: 0;
  outline: 0;
  @media (max-width: 380px) {
    width: 220px;
  }
}

.search-btn {
  margin-left: 0;
  border-radius: 0 50% 50% 0;
  font-size: 24px;
  @media (max-width: 650px) {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }
}

.city {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end; 
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-main;
  @media (max-width: 1440px) {
    font-size: 48px;
    height: 85px;
  }
  @media (max-width: 650px) {
    font-size: 36px;
    height: 70px;
  }
  @media (max-width: 550px) {
    height: 90px;
    text-align: center;
  }
}

.date-time {
  width: 100%;
  height: 60px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  color: $color-main;
  @media (max-width: 1440px) {
    font-size: 36px;
    margin: 0;
  }
  @media (max-width: 650px) {
    font-size: 28px;
  }
  @media (max-width: 550px) {
    height: 90px;
    line-height: 36px;
    text-align: center;
  }
}

.main {
  width: 100%;
  display: flex;
  color: $color-main;
  @media (max-width: 1440px) {
    flex-direction: column;
  }
}

.main-weather {
  width: 50%;
  @media (min-width: 1441px) {
    height: calc(100vh - 350px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media (max-width: 1440px) {
    width: 100%;
    margin-bottom: 15px;
  }
}

.main-map {
  @media (min-width: 1441px) {
    width: 50%;
    height: calc(100vh - 380px);
    margin: 25px;
  }
  @media (max-width: 1440px) {
    width: 100%;
    height: 500px;
    margin: 0;
  }
}

.map {
  width: 100%;
  height: calc(100% - 100px);
}

.lon-lat {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  @media (max-width: 650px) {
    font-size: 20px;
  }
}

.today-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.today-container-left {
  width: 50%;
}

.today-container-right {
  width: 50%;
}

.today-temp {
  font-size: 140px;
  text-align: center;
  @media (max-width: 650px) {
    font-size: 92px;
  }
}

.today-summary {
  font-size: 36px;
  line-height: 48px;
  @media (max-width: 650px) {
    font-size: 24px;
    line-height: 36px;
  }
}

.today-icon {
  width: 144px;
  line-height: 48px;
}

.next-container {
  display: flex;
  @media (max-width: 550px) {
    flex-direction: column;
  }
}

.next-block {
  width: 100%;  
}

.next-day {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  @media (max-width: 650px) {
    font-size: 20px;
  }
}

.next-info {
  display: flex;
  justify-content: center;
}

.next-temp {
  font-size: 64px;
  @media (max-width: 650px) {
    font-size: 48px;
  }
}

.next-icon {
  width: 72px;
}